<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Electronic_Archives_System.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Electronic_Archives_System.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value>DESKTOP-3EIH3C3</value>
            </setting>
            <setting name="DataBaseName" serializeAs="String">
                <value>EArchive2022</value>
            </setting>
            <setting name="LoginID" serializeAs="String">
                <value />
            </setting>
            <setting name="LogPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginMothed" serializeAs="String">
                <value>0</value>
            </setting>
        </Electronic_Archives_System.My.MySettings>
    </userSettings>
</configuration>